<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% renderblock "css" %}
</head>
<body>
    {% from "components/square.html" import square %}

    <h1>Hello World</h1>

    {{ square() }}

	{% addtoblock "js" %}
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/mootools/1.3.0/mootools-yui-compressed.js"></script>
	{% endaddtoblock %}

	{% addtoblock "js" %}
	    <script type="text/javascript">
		$('firstelement').set('class', 'active');
	    </script>
	{% endaddtoblock %}

	{% addtoblock "js" %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/mootools/1.3.0/mootools-yui-compressed.js"></script>
	{% endaddtoblock %}

	{% addtoblock "js" %}
	    <script type="text/javascript">
		$('secondelement').set('class', 'active');
	    </script>
	{% endaddtoblock %}

	{% renderblock "js", reverse=True %}
</html>
